html {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
}

.neon_yellow {
        animation: neontextAnim2 2s alternate-reverse infinite;
        color: #fffe1f;  /* red színnel jobban látszik a nevünk */
        font-family: "Britannic Bold";
        font-size: 45px;
    }
    @keyframes neontextAnim2 {
    from {
        text-shadow:
          0 0 10px rgba(255, 254, 31, .7),
          0 0 40px rgba(255, 254, 31, .7),
          0 0 100px rgba(255, 254, 31, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(255, 254, 31, .7),
          0 0 20px rgba(255, 254, 31, .7),
          0 0 60px rgba(255, 254, 31, .7);
      }
}

    .neon_blue {
        animation: neontextAnim 2s alternate-reverse infinite;
        color: #1e5aff;
        font-family: "Britannic Bold";
        font-size: 45px;
    }
    @keyframes neontextAnim {
    from {
        text-shadow:
          0 0 10px rgba(30, 90, 255, .7),
          0 0 40px rgba(30, 90, 255, .7),
          0 0 100px rgba(30, 90, 255, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(30, 90, 255, .7),
          0 0 20px rgba(30, 90, 255, .7),
          0 0 60px rgba(30, 90, 255, .7);
      }
}
.page-title {
    text-align: center;
    padding: 20px 0px 20px 0px;
    margin: 20px 400px 40px 400px;
}
.main-table {
    border: 2px solid;
    margin: 20px 0 20px 0;
    width: 100%;
}
.main-table td {
    border-bottom: 2px solid #fff;
}

#aquestion {
  position: relative;
}

#aquestion::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

a {
    text-decoration: none;
}

a:link {
    color: black;
    font-weight: bold;
    font-size: 14px;
}
a:visited{
    font-weight: bold;
    color: black;
    font-size: 14px;
}
#aquestion:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#question_id{
    font-size: 20px;
    text-decoration: none;
}
#question_id:visited {
    color: indianred;


}

#question_id:hover {
    font-size: 2em;
    color: aqua;
    transition: color 1s ease;
}
.founded-table {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 80px 200px 70px 200px;
    padding: 10px 10px 10px 10px;
    border: 3px solid #8d78ff;
    width: 80%;
}
.keys {
    border-bottom: 1px solid #8d78ff;
}
.founded-table td {
    border-bottom: 3px solid #9cff35;
    padding: 5px 0 5px 0;
    margin: 3px 3px 3px 3px;
}
.founded-table tr {
    border-right: 2px solid #9cff35;
}
.hero-btw {
    padding: 10px 5px 10px 5px;
    border-radius: 60px;
}
.hero-btw:hover {
    transform: scale(1.1);
    transition: 2s;
    background-color: #f40aff ;
}
.neon_box {
        animation: neonAnim 2s alternate-reverse infinite;
        color: #f40aff;
    }
    @keyframes neonAnim {
    from {
        box-shadow:
          0 0 10px rgba(244, 10, 245, .7),
          0 0 40px rgba(244, 10, 245, .7),
          0 0 100px rgba(244, 10, 245, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(62, 36, 217, .7),
          0 0 20px rgba(62, 36, 217, .7),
          0 0 60px rgba(62, 36, 217, .7);
      }
}
    .neon_box2 {
        animation: neonAnim2 2s alternate-reverse infinite;
    }
    @keyframes neonAnim2 {
    from {
        box-shadow:
          0 0 10px rgba(0, 255, 246, .7),
          0 0 40px rgba(0, 255, 246, .7),
          0 0 100px rgba(0, 255, 246, .7);
      }
      to {
        text-shadow:
          0 0 5px rgba(62, 36, 217, .7),
          0 0 20px rgba(62, 36, 217, .7),
          0 0 60px rgba(62, 36, 217, .7);
      }
}
    .neon_box3 {
        animation: neonAnim3 2s alternate-reverse infinite;
        color: #ff030d;
    }
    @keyframes neonAnim3 {
    from {
        box-shadow:
          0 0 10px rgba(255, 3, 13, .7),
          0 0 40px rgba(255, 3, 13, .7),
          0 0 100px rgba(255, 3, 13, .7);
      }
 to {
        box-shadow:
          0 0 10px rgba(255, 3, 13, .7),
          0 0 40px rgba(255, 3, 13, .7),
          0 0 100px rgba(255, 3, 13, .7);
      }
}
    .form-search {
        margin: 0px 450px 70px 450px;
    }
    .search-h1 {
        font-size: 25px;
        text-align: center;
    }