{% extends "layout.html" %}

{% block page_title %}
    {% if add %}
        Add question
    {% else %}
        Update question
    {% endif %}
{% endblock %}

{% block content %}

        {% if add %}
            <form action="/add-question" enctype="multipart/form-data" method="post">
        {% else %}
            <form action="/update-question/{{ id_num }}" enctype="multipart/form-data" method="post">
        {% endif %}
    {% for item in question %}
        <h3>Title</h3>
        {% if add %}
            <input type="text" name="title" required>
        {% else %}
            <input type="text" name="title" required value="{{ item.title }}">
        {% endif %}
        <h3> What is your Question?</h3>
        {% if add %}
            <textarea itemtype="text" name="message" required cols="20" rows="10"></textarea>
        {% else %}
            <textarea itemtype="text" name="message" required cols="20" rows="10">{{ item.message }}</textarea>
        {% endif %}
            {% endfor %}
        <h3>Upload photo</h3>
        <input type="file" name="image" accept="imagitge/*">
        {% if add %}
            <button type="submit">Send Question</button>
        {% else %}
            <button type="submit">Update Question</button>
        {% endif %}
        </form>
{% endblock %}
