<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Founded</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h1 class="neon_blue">The hits: <span style="color: yellow"> {{ expression }} </span> </h1>

<table class="founded-table neon_box2">
    <tr>
        {% for key in questions[0].keys() %}
            <td class="keys">{{ key }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for question in questions %}
            <tr>
                {% for values in question %}
                    {% if values == 'image' %}
                    <td><img style="height: 70px" src="{{ question[values]}}" alt="here is a pics"></td>
                    {% else %}
                        <td>{{ question[values] }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
        {% endfor %}
    </tr>
</table>

<button class="hero-btw neon_box"><a href="/list">Back to Main Page</a></button>

</body>
</html>