<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Founded</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<h1 class="neon_blue">The hits: {{ expression }}</h1>

<table class="founded-table">
    <tr>
        {% for key in questions[0].keys() %}
            <td class="keys">{{ key }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for question in questions %}
            <tr>
                {% for values in question %}

                        <td>{{ question[values] }}</td>

                {% endfor %}
            </tr>
        {% endfor %}
    </tr>
</table>

<button><a href="/list">Back to Main Page</a></button>

</body>
</html>