<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}CodeCool AskMate2{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="nav-div">
    <nav class="nav-bar neon_blue neon_box2">
        <ul>
        {% if not logged %}
            <li><a href="/registration">Sign Up</a></li>
            <li> <a href="{{ url_for('login') }}">Login</a> </li>
            <li><a href="/bonus-questions">Bonus Questions</a></li>
        {% endif %}
        {% if logged %}
            <li><a href="/user/{{ session['id'] }}"> Profile </a></li>
            <li> <a href="{{ url_for('get_all_users') }}"> Users </a> </li>
            <li><a href="/bonus-questions">Bonus Questions</a></li>
        {% endif %}
        </ul>
    </nav>
    <nav class="nav-right neon_box2">
        {% if logged %}
            <ul>
                <li><a href="{{ url_for('logout') }}"><img src="/static/images/log_out.png" title="Log Out"></a></li>
            </ul>
        {% endif %}
    </nav>
</div>
<h1 class="page-title neon_box">{{ self.page_title() }}</h1>
{% block content %}





{% endblock %}
</body>
</html>