{% extends "layout.html" %}
{% block page_title %}
    Main Page
{% endblock %}
{% block content %}
    <table style="text-align: center">
    <tr >
        {% for key in questions[0].keys() %}
            <td>{{ key }}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for question in questions %}
            <tr>
            {% for values in question %}
                {% if values == 'id' %}
                    <td>
                        <a href="/question/{{ question[values] }}">{{ question[values] }}</a>
                    </td>
                {% else %}
                    <td>{{ question[values] }}</td>

                {% endif %}

            {% endfor %}
            <td><button><a href="/delete/{{ question['id'] }}">DELETE</a></button></td>

            <td><button><a href="/question/{{ question['id'] }}/vote-up">UP</a></button></td>
            <td><button><a href="/question/{{ question['id'] }}/vote-down">DOWN</a></button></td>
            <td><button><a href="/added-answer/{{ question['id'] }}">Add Answer</a></button></td>
            <td><button><a href="/add-question">Add Question</a></button></td>
            <td><button><a href="/update-question/{{ question['id'] }}">Update Question</a></button></td>

            </tr>
        {% endfor %}

    </tr>
    </table>

    <form action="/list" method="get">
    <select name="ordering" id="ordering">
        <option value="">--Please choose an option--</option>
        <option value="id">ID</option>
        <option value="submission_time">Submission Time</option>
        <option value="view_number">View Number</option>
        <option value="submission_time">Submission Time</option>
        <option value="vote_number">Vote Number</option>
        <option value="title">Title</option>
        <option value="message">Message</option>
    </select>
        <input type="submit" value="Order">
    </form>
{% endblock %}