{% extends "layout.html" %}
{% block page_title %}
    404 Not Found
{% endblock %}
{% block content %}

    {% if logged %}
        <p>You are logged in as {{ session['username'] }}</p>
    {% endif %}

    <form class="form-search" action="/search" method="post">
        <h3 class="neon_yellow search-h1">Search</h3>
        <input class="neon_box search-input" type="text" placeholder=" Search" name="search">
        <button class="neon_box btw-2" type="submit">Search</button>
    </form>

    <table class="main-table neon_box3">
    <tr >
    {% if questions != [] %}
        {% for key in questions[0].keys() %}
            <td>{{ key }}</td>
        {% endfor %}
        </tr>
        {% for question in questions %}
          <tr>
            {% for values in question %}
                {% if values == 'id' %}
                    <td>
                        <a id="question_id" href="/question/{{ question[values] }}">{{ question[values] }}</a>
                    </td>
                {% elif values == 'image' %}
                    <td><img style="height: 70px" src="{{ question[values]}}" alt="here is a pics"></td>
                {% else %}
                    <td>{{ question[values] }}</td>
                {% endif %}
            {% endfor %}
           {% if logged %}
            <td ><button><a href="/delete/{{ question['id'] }}">Delete</a></button>
                <button><a href="/question/{{ question['id'] }}/vote-up">Up</a></button>
                <button><a href="/question/{{ question['id'] }}/vote-down">Down</a></button>
                <button><a href="/added-answer/{{ question['id'] }}">Add Answer</a></button>
                <button><a href="/update-question/{{ question['id'] }}">Update Question</a></button>
                <button><a href="/question/{{ question['id'] }}/new-comment">Add Comment</a></button>
                <button><a href="/question/{{ question['id'] }}/new-tag">Add Tag</a></button>
            </td>
          {% endif %}

            </tr>
          </tr>
        {% endfor %}
    {% else %}
        <h1 class="no-question">There is no question, make first one!</h1>
    {% endif %}
    </table>

    <form action="/list" method="get">
        <select name="ordering" id="ordering">

            <option value="id">ID</option>
            <option value="submission_time">Submission Time</option>
            <option value="view_number">View Number</option>
            <option value="submission_time">Submission Time</option>
            <option value="vote_number">Vote Number</option>
            <option value="title">Title</option>
            <option value="message">Message</option>
        </select>
        <input type="submit" value="Order">
    </form>
    <button><a href="/list">List all</a></button>
        <br> <br>
    {% if logged %}
        <td><button class="neon_box hero-btw"> <a href="/add-question">Add Question</a> </button> </td>
    {% endif %}
{% endblock %}