<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% if add %}
        <title> {{ title_name }} </title>
        {% else %}
        <title> {{ title_name }}</title>
        {% endif %}
</head>
<body>
    {% if add %}
        <h1> {{ title_name }} </h1>
    {% else %}
        <h1> {{ title_name }}</h1>
    {% endif %}

<form action="/added-answer/{{ question_id }}" enctype="multipart/form-data" method="post">
    <input type="hidden" name="id" value="{{ id_num }}">
    <input type="hidden" name="submission_time" value="{{ time }}">
    <input type="hidden" name="view_number" value="{{ view_number }}">
    <input type="hidden" name="vote_number" value="{{ vote_number }}">
    <h3>Title</h3>
    {% if add %}
        <input type="text" name="title" required>
    {% else %}
        <input type="text" name="title" required value="{{ title }}">
    {% endif %}
    <h3> What is your Answer?</h3>
    {% if add %}
        <textarea itemtype="text" name="message" required cols="20" rows="10"></textarea>
    {% else %}
        <textarea itemtype="text" name="message" required cols="20" rows="10" value="{{ data[5] }}"></textarea>
    {% endif %}
    <h3>Upload photo</h3>
    <input type="file" name="image" accept="imagitge/*">
    {% if add %}
        <button type="submit">Send Answer</button>
    {% else %}
        <button type="submit">Update Answer</button>
    {% endif %}
</form>
<img src={{ url_for('static', filename=image) }}>
</body>
</html>