{% extends "layout.html" %}
{% block page_title %}
    {% if add %}
         Add answer
    {% else %}
         Update Answer
    {% endif %}
{% endblock %}

{% block content %}

{% if add %}
    <form action="/added-answer/{{ question_id }}" enctype="multipart/form-data" method="post">
{% else %}
    <form action="/update-answer/{{ answer_id }}" enctype="multipart/form-data" method="post">
{% endif %}

{% if add %}
    {% for item in question %}
        <h3>{{ item.title }}</h3>
    {% endfor %}
{% else %}
    {% for item in answer %}
        <h3>{{ item.title }}</h3>
    {% endfor %}
{% endif %}

<h3> What is your Answer?</h3>
{% if add %}
    <textarea itemtype="text" name="message" required cols="20" rows="10"></textarea>
{% else %}
    {% for item in answer %}
        <textarea itemtype="text" name="message" required cols="20" rows="10" value="{{ item.message }}"></textarea>
    {% endfor %}
{% endif %}
<h3>Upload photo</h3>
<input type="file" name="image" accept="imagitge/*">
{% if add %}
    <button type="submit">Send Answer</button>
{% else %}
    <button type="submit">Update Answer</button>
{% endif %}
{% endblock %}