<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% if add %}
            <title> Add answer </title>
        {% else %}
            <title> Update Answer </title>
        {% endif %}
</head>
<body>
    {% if add %}
        <h1> {{ title_name }} </h1>
    {% else %}
        <h1> {{ title_name }} </h1>
    {% endif %}

<form action="/added-answer/{{ question_id }}" enctype="multipart/form-data" method="post">
    {% for item in question %}
    <h3>{{ item.title }}</h3>
    {% endfor %}
    <h3> What is your Answer?</h3>
    {% if add %}
        <textarea itemtype="text" name="message" required cols="20" rows="10"></textarea>
    {% else %}
        <textarea itemtype="text" name="message" required cols="20" rows="10" value="{{ data[5] }}"></textarea>
    {% endif %}
    <h3>Upload photo</h3>
    <input type="file" name="image" accept="imagitge/*">
    {% if add %}
        <button type="submit">Send Answer</button>
    {% else %}
        <button type="submit">Update Answer</button>
    {% endif %}
</form>
</body>
</html>