{% extends "layout.html" %}
{% block page_title %}
    Answer Page
{% endblock %}


{% block content %}

    {% if answers == [] %}
        <h1>BOCS TES, DE NINCS ANZSVER :/</h1>
        <button><a href="/">Zsa főoldal</a></button>
    {% else %}

        <h2>Answer</h2>
        {% if tag != [] %}
            <h4>Tags:</h4>
            <p>{{ tag[0]['name'] }}</p>
        {% endif %}


        <table class="main-table neon_box3">

        <!-- Table headers -->
            <tr>
                {% for key in answers[0].keys() %}
                    <td>{{ key }}</td>
                {% endfor %}
            </tr>

        <!-- Table datas -->
                {% for answer in answers %}
                    <tr>
                        {% for key in answer %}
                            {% if key == 'id' %}
                                <td>
                                    <a href="/answer/{{ answer[key] }}">{{ answer[key] }}</a>
                                </td>
                            {% elif key == 'image' %}
                                <td> <img height="70px" src="{{ answer[key]}}"></td>
                            {% elif key == 'accepted' %}
                                {% if answer[key] %}
                                    <td>
                                        <img src="/static/images/facebook-like-17%20(1).png" title="accepted">
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="/add_accept/{{ answer['id'] }}"><img src="/static/images/facebook-like-16.png" title="accepted"></a>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td>{{ answer[key] }}</td>

                            {% endif %}
                        {% endfor %}



                        <td>
                            <a href="/answer/{{ answer['id'] }}/delete"> <img src="/static/images/skull.png" title="delete"> </a>
                            <a href="/answer/{{ answer['id'] }}/vote-down/{{ answer['question_id'] }}"><img src="/static/images/arrow_down.png" title="vote_down"></a>
                            <a href="/answer/{{ answer['id'] }}/vote-up/{{ answer['question_id'] }}"><img src="/static/images/arrow_up.png" title="vote_up"></a>
                            <a href="/update-answer/{{ answer['id'] }}"><img src="/static/images/edit.png" title="edit_question"></a>
                            <a href="/answer/{{ answer['id'] }}/new-comment"><img src="/static/images/comment.png" title="add_comment"></a>
                        </td>
                    </tr>
                {% endfor %}
        </table>

        <form action="/list" method="get">
            <select name="ordering" id="ordering">
                <option value="">--Please choose an option--</option>
                <option value="id">ID</option>
                <option value="submission_time">Submission Time</option>
                <option value="view_number">View Number</option>
                <option value="submission_time">Submission Time</option>
                <option value="vote_number">Vote Number</option>
                <option value="title">Title</option>
                <option value="message">Message</option>
            </select>
            <input type="submit" value="Order">
        </form>
        <h2>Comments</h2>
        {% if comments != [] %}


            <table class="main-table2 neon_box2">
                <tr>
                    {% for key in comments[0].keys() %}
                        <td>{{ key }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for comment in comments %}
                        <tr>
                            {% for values in comment %}
                                <td>{{ comment[values] }}</td>
                            {% endfor %}
                            <td>
                                <button><a href="/comments/{{ comment['id'] }}/delete">Delete</a></button>
                            </td>
                            <td>
                                <button>Edit</button>
                            </td>

                        </tr>
                    {% endfor %}

                </tr>
            </table>
        {% else %}
            <h1>Nincs comment Tess!</h1>
            <button><a href="/">Zsa főoldal</a></button>
        {% endif %}
    {% endif %}
{% endblock %}