<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASK MATE</title>
</head>
<body>

<table style="border-spacing: 20px;">
    <tr>
        {% for key in questions_again[0]  %}
        <th>{{ key }}</th>
        {% endfor %}

    </tr>
    <tr>
        {% for element in questions_again  %}
            <tr>


        {% for key in element.keys()  %}
         <td align="center">
            {% if key == 'id' %}
                <a href='/question/{{ element["id"] }}'>{{ element[key] }}</a>
            {% else %}
                {% if element[key] == '' %}
                <a href='/answer/{{ element["id"] }}/delete'><button >delete</button></a>
            {% else %}
                {{ element[key] }}
            {% endif %}

            {% endif %}



        </td>

        {% endfor %}
            </tr>
        {% endfor %}

    </tr>

</table>

</body>
</html>